{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta %}
    <meta 
      name="description" 
      content="{% block meta_description %}Titan Parking - Professional line striping services in Quebec. We offer exceptional customer service.{% endblock %}" 
    />
    <!-- Open Graph Meta Tags -->
    <!-- <meta property="og:title" content="{% block og_title %}Default Title{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Default description{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'default-image.jpg' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"> -->
    <meta name="robots" content="index, follow" />
    {% endblock %}

    <link rel="canonical" href="{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}" />

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block title %}Home{% endblock %} | Titan Parking</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
    {% include 'partials/schema/base.html' %}
  </head>
  <body>
    {% block header %}
      {% include 'partials/home/header.html' %}
    {% endblock %}

    <main>{% block content %}{% endblock %}</main>

    {% block footer %}
      {% include 'partials/home/footer.html' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
