{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta %}
    <meta 
      name="description" 
      content="{% block meta_description %}{% trans 'Titan Parking - Professional line striping services in Quebec. We offer exceptional customer service.' %}{% endblock %}" 
    />
    <meta property="og:title" content="{% block og_title %}{% trans 'Transform Your Parking Lot with Professional Line Striping' %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% trans 'See how we help businesses improve safety and compliance with clean, precise parking lot striping. Free quotes available.' %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'images/logo-dark.png' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta name="robots" content="index, follow" />
    {% endblock %}

    {% if LANGUAGE_CODE == 'fr' %}
      <link rel="canonical" href="https://titanparking.ca{{ request.path }}" />
      <link rel="alternate" hreflang="fr-CA" href="https://titanparking.ca{{ request.path }}" />
      <link rel="alternate" hreflang="en-CA" href="https://titanparking.ca/en{{ request.path }}" />
    {% else %}
      <link rel="canonical" href="https://titanparking.ca{{ request.path }}" />
      <link rel="alternate" hreflang="en-CA" href="https://titanparking.ca{{ request.path }}" />
      <link rel="alternate" hreflang="fr-CA" href="https://titanparking.ca{{ request.path|slice:'3:' }}" />
    {% endif %}

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://unpkg.com">

    <link rel="alternate" hreflang="x-default" href="https://titanparking.ca/" />

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">

    <title>{% block title %}{% trans 'Home' %} | Titan Parking{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
    {% include 'partials/schema/base.html' %}
    {% block schema %}{% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.5/dist/htmx.min.js" defer integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    {% if not debug %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBMTRQWR3K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FBMTRQWR3K');
    </script>
    {% endif %}
  </head>
  <body>
    {% block header %}
      {% include 'partials/home/header.html' %}
    {% endblock %}

    <main>{% block content %}{% endblock %}</main>

    {% block footer %}
      {% include 'partials/home/footer.html' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
    <script src="{% static 'js/base.js' %}" defer></script>
  </body>
</html>
