{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block meta %}
    <meta
      name="description"
      content="{% block meta_description %}Default description{% endblock %}"
    />
    <meta
      name="keywords"
      content="{% block meta_keywords %}line striping, parking lot{% endblock %}"
    />
    <meta name="robots" content="index, follow" />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>{% block header %} {% include 'partials/home/header.html' %} {% endblock %}</header>

    <main>{% block content %}{% endblock %}</main>

    <footer>{% block footer %} {% include 'partials/home/footer.html' %} {% endblock %}</footer>
    {% block extra_js %}{% endblock %}
  </body>
</html>
